<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sarvasva">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sarvasva">
        <activity
            android:name=".app.activities.MainActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
        android:name=".app.activities.AuthenticationActivity"
        android:screenOrientation="portrait"
        android:theme="@style/NoActionBarTheme"/>
        <activity
            android:name=".app.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity></application>

</manifest>